binary_gap.py
create_tables_script.sql
etl.ipynb
etl_test.py
etl-Copy1.ipynb
Sparkify_ERD.drawio
test.ipynb
Untitled.ipynb
Untitled1.ipynb
user_validation.py
create_tables_test.py
.ipynb_checkpoints/
.vscode/